Django
psycopg2-binary
Cython
colorama
numpy
pandas
requests
fire
pillow
matplotlib
numba
scipy
scikit-image
h5py
tensorflow
tensorboard
tensorboardX
torch
torchvision
opencv_python
terminaltables
tqdm
lxml
paramiko